export SPARQL_ENDPOINT=https://minmod.isi.edu/sparql
export API_ENDPOINT=https://minmod.isi.edu/api/v1

export GEOCHEM_SPARQL_ENDPOINT=http://dev.minmod.isi.edu:3030/minmod/sparql
export GEOCHEM_PG_DSN=postgresql://geochem:geochem@localhost:5432/geochem